/* geral */
* {
    font-family: 'Montserrat'
}

.sessao {
    padding: 70px 0;
}

.sessao-titulo {
    font-size: 3rem;
}

/* about me section */
.about-me .sessao-titulo {
    border-width: 3px 3px 3px 0;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 100% 0, from(#45cafc), to(#303f9f)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(top,#45cafc,#303f9f) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(top,#45cafc,#303f9f) 1 100%; 
    -o-border-image:
      -o-linear-gradient(top,#45cafc,#303f9f) 1 100%;
    border-image:
      linear-gradient(to top,#45cafc,#303f9f) 1 100%;     
}

/* linguagens de programação e frameworks e libs*/
.conhecimentos-img {
    position: relative;
    font-size: 60px;
    height: 75px;
    width: 75px;
}

.conhecimentos-title {
    padding: 10px 0;
    font-size: 2rem;
}

.conhecimentos-img:before {
    position: absolute;
    content: '';
    display: block;
    height: 90px;
    width: 90px;
    background: url(../imgs/circle-colors.png) no-repeat center center;
    background-size: cover;
}


.conhecimentos-card-container:hover .conhecimentos-img::before {
    animation: spin 1s linear infinite;
}

.conhecimentos-img-destaque {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
    z-index: -1;
    position: relative;
    
}

.conhecimentos-img-gradiente {
    background: 
    linear-gradient(
        rgba(112, 100, 120, 0.85), 
        rgba(255, 120, 120, 0.3)
  
    )
}


/* portfolio section */

.card-img-top {
    height: 161px;;
}

.card {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}


/* contact */

.form-control {
    border: none;
    border-bottom: 1px solid #d0dddf;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: blue;
}

.card-contato {
    position: relative;
    padding: 2rem 25px;
    margin: 3rem 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}

.card-contato-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    background-image: linear-gradient(120deg,#e0c3fc 0,#8ec5fc 100%);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.18),0 3px 6px 0 rgba(0,0,0,.15)!important;
}

input {
    margin: 10px 0 !important;
}

.lbl-textarea {
    padding: 0 15px;
}


/* animation */
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}