/* geral */
* {
    font-family: 'Montserrat'
}

.sessao {
    padding: 70px 0;
}

.sessao-titulo {
    font-size: 3rem;
}

/* about me section */
.about-me .sessao-titulo {
    border-width: 3px 3px 3px 0;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 100% 0, from(#45cafc), to(#303f9f)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(top,#45cafc,#303f9f) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(top,#45cafc,#303f9f) 1 100%; 
    -o-border-image:
      -o-linear-gradient(top,#45cafc,#303f9f) 1 100%;
    border-image:
      linear-gradient(to top,#45cafc,#303f9f) 1 100%;     
}

/* linguagens de programação */
.linguagens-img {
    position: relative;
    font-size: 80px;
    height: 124px;
    width: 124px;
}

.linguagens-img:before {
    position: absolute;
    content: '';
    display: block;
    height: 124px;
    width: 124px;
    background: url(../imgs/circle-colors.png) no-repeat center center;
    background-size: cover;
}


.linguagens-card-container:hover .linguagens-img::before {
    animation: spin 1s linear infinite
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}